body {
    position: relative;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: #303336;
    color: white;
    text-decoration: none;
    font-family: "Amiri", serif;
    font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script&family=Indie+Flower&family=Kdam+Thmor&family=Pattaya&display=swap");

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #303336;
    color: white;
    text-decoration: none;
    font-family: "Amiri", serif;
    font-size: 18px;
}


/*header and navbar*/

header {
    margin: 20px 10px 0
}

.header-hamburger {
    background-color: #303133;
}

.navbar-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #4170b3;
}

.nav-link:hover {
    color: #482ff7;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.nav-menu {
    display: none;
}

li {
    list-style-type: none;
}


.logo-div {
    margin-top: 20px;
}

.logo-picture {
    border-radius: 200px;
    width: 50px;
}





a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.body-on-click {
    overflow: hidden;
    height: 100vh;
}

/*Header/nav/media*/
.nav-menu {
    display: flex;
    position: absolute;
    transform: translateX(-120%);
    top: 0;
    flex-direction: column;
    background-color: #303336;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
    height: 100%
}


.hamburger-links {
    margin-top: 20px;
    height: 700px;
    display: flex;
    flex-direction: column;


    align-items: center;
    font-size: 40px;
}

.display-none {
    display: none;
}

.nav-menu.active {
    transform: translateX(0%);
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    z-index: 999;
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 60%;

    margin-right: 20px;
    padding: 0;
}


.ole-prof-picture-homepage-flex {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10px;
}

.profile-img-homepage {
    width: 50%;
    border-radius: 10px;
    height: 30vh;
    object-fit:cover
}

.p-about-me-homepage {
    margin-top: 20px;
    margin-left: 40px;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    margin: 40px;
}



.social-media-icons {}

/*Desktop big*/
@media (min-width: 1200px) {
    header {
        max-width: 100%;
    }

    .profile-img-homepage {
        width: 40vh;
        border-radius: 10px;
        height: 40vh;
    }

}


@media (min-width: 480px){
    .profile-img-homepage {
        width: 40vh;
        border-radius: 10px;
        height: 40vh;
}



@media (min-width: 994px) {

    a {
        font-size: 50px;
    }
    
    .logo-picture {
        width: 300px;
    }

    

    .p-about-me-homepage {
        margin-top: 20px;
        font-size: 30px;
        width: 30%;
    }
    .ole-prof-picture-homepage-flex {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        
        margin-right: 10px;
        margin-left: 20px;
    }
}
}