
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script&family=Indie+Flower&family=Kdam+Thmor&family=Pattaya&display=swap");
body {
    position: relative;
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
    background-color: #242829;
    color: white;
    text-decoration: none;
    font-family: "Amiri", serif;
    font-size: 16px;
    
}

/*header and navbar*/



.header-hamburger {
    background-color: #303133;
}
.navbar-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    margin-right: 25px
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    
    align-items: center;
    height: 20vh;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #90cc8a;
}

.nav-link:hover {
    color: rgb(192, 219, 152);
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;

}

.nav-menu {
    display: none;
}

li {
    list-style-type: none;
}


.logo-div {
    margin-top: 20px;
}

.logo-picture {
    border-radius: 200px;
    width: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.body-on-click {
    overflow: hidden;
    height: 100vh;
}

/*Header/nav/media*/
.nav-menu {
    display: flex;
    position: absolute;
    transform: translateX(-120%);
    top: 0;
    flex-direction: column;
    background-color: #303336;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
    height: 100%
}


.hamburger-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.nav-menu.active {
    transform: translateX(0%);
}

.nav-item {
    margin: 2.5rem 0;
}

.hamburger {
    z-index: 999;
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 60%;

    margin-right: 20px;
    padding: 0;
}

 
 /*Profile image*/ 
.ole-prof-picture-homepage-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-img-homepage {
    width: 100%;
    height: 40vh;
    object-fit:cover;
}
/*P about me text*/ 
.p-about-me-homepage {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 25px;
    width: 100%;
    display: none;
    color: wheat;
    display: flex;
    
}

.p-read-more-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}


.read-more-button-div{
    display: flex;
    align-items:  center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.read-more-button{
    color: white;
    background-color: rgb(94, 185, 94);
    border-radius: 15px;
    margin-bottom: 60px;
    height: 30px;  
    width: 40%;
    text-align: center;
}


.h2-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    margin: auto;
    padding-bottom: 40px;
}

.h2-latest-projects{
    text-align: center;
}




/*social media*/ 

   

.social-media-size{
font-size: 16px;
} 

.social-media-links{
width: 40%;
display: flex;
justify-content: space-between;

}

/*project*/ 
.h2-my-projects{
    font-size: 50px;
    height: 90px;
    text-align: center;
    
}

.my-projects-text{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    align-items: center;
}

/*prosjekt*/ 


/*Reiny days no queries*/ 
.border-around-project-div{
    display: flex;
    flex-direction:column;
    border-top: 2px solid rgb(97, 155, 97);
    height: 400px;
    text-align: center;
}


.div-rainy-days-text-frontpage{
    display: flex;
    justify-content: center;
}

.rainy-days-p-frontpage{
    width: 200px;
}

.read-more-projects{
text-align: center;
}

.flex-read-more-projects{
display: flex;
justify-content: center;
width: 100%;
}

/*Posts-homepage*/
.hidden {
    display: none !important;
  }
  
  .post-frontpage {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  
  .image-card-homepage {
    border: 2px solid rgb(155, 218, 186);
    border-radius: 5px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(230, 215, 215, 0.25) 0px 54px 55px,
                rgba(165, 154, 154, 0.12) 0px -12px 30px,
                rgba(255, 255, 255, 0.12) 0px 4px 6px,
                rgba(255, 255, 255, 0.17) 0px 12px 13px,
                rgba(243, 243, 243, 0.09) 0px -3px 5px;
  }
  .p-image-card-homepage {
    text-align: left;
    font-size: 20px;
    padding: 30px;
  }


  .images-projects{
      width: 100%;
      border: 4px solid rgb(128, 224, 136);
      margin: auto;
  }
  .images-projects-div{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    height: 1000px;
    margin-left: 5px;
    margin-right: 12px;
  }



/*About no queries*/


.h1-about-background-img{
    background-image: url(/pictures/profil-bilde-portofolio.jpg);
    
    background-position: center;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.read-more-projects-frontpage{
    display: flex;
    justify-content: center;
}

/*post*/

.post-image{
    display: flex;
    justify-content: center;
    
    object-fit: cover;
}

.img-cards-single-post-post-page{
    width: 300px;
    border-radius: 20px;
    border: 2px solid rgb(142, 218, 142); 
    object-fit: cover;
}

.post-text-post-page  {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.hr-0-margin{
    margin: 0;
}


/*About-page*/
.web-developer, .h1-about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
    .span-my-skills{
    color:rgb(174, 212, 117); 
    text-align: center;
}   
.h2-my-skills{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.web-developer{
    color:rgb(182, 231, 108);
    font-size: 30px;
    font-family: cursive;
}
.about-me-text-div{
    display: flex;
    flex-direction: column;
justify-content: space-around;
}

.about-me-text-p{
    margin-left: 8px;
    width: 330px;
}


.border-between-text-and-skills{
    border: 5px solid whitesmoke;
    margin: 30px 0 30px 0;
}

    .my-skills-text-p{
        font-size: 25px;
        color:rgb(182, 231, 108);
    }

    .my-skills-text-above-div{
        display: flex;
        justify-content: space-evenly;
    }

    .my-skills-text-below-div{
        display: flex;
        justify-content: space-evenly;
    }

.border-around-skills-text{
    
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid greenyellow;
    
    box-shadow: rgba(230, 215, 215, 0.25) 0px 54px 55px,
                rgba(165, 154, 154, 0.12) 0px -12px 30px,
                rgba(255, 255, 255, 0.12) 0px 4px 6px,
                rgba(255, 255, 255, 0.17) 0px 12px 13px,
                rgba(243, 243, 243, 0.09) 0px -3px 5px;
  } 




@media (min-width: 480px){

    .profile-img-homepage {
        width: 70% ;
        height: 500px;
    }

    /*About > 480px*/
    .h1-about-background-img{
    width: 100%;
    height: 700px;
    }


.about-me-text-p{
    font-size: 25px;
    width: 460px;
}


/*Projects >480px*/

.images-projects-div{

}
.images-projects{

    width: 500px;

}
.h2-flex{


}

@media (min-width: 800px){
    /* .h1-about-background-img{
        width: 100%;
        height: 900px;
        }  */
        .profile-img-homepage {
            width: 500px;
            
        }
        .about-me-text-p{
            font-size: 25px;
            width: 700px;
        }
        .img-cards-single-post-post-page{
            width: 800px;
        }


        .post-p-post-page{
        width: 2px;


        }
    }



@media (min-width: 994px) {
    .about-me-text-p{
        font-size: 25px;
        width: 700px;
    }
    .about-me-text-p{
        font-size: 25px;
        width: 500px;
    }
    
    a {
        font-size: 50px;
    }
    

    .nav-column{
          display: flex;
          flex-direction: column;
      }
    .logo-picture {
        width: 100px;
    }

    .p-about-me-homepage {
        
    }

    .p-read-more-div{
        margin-top: 75px;
        width: 40%;
   
    }

    .ole-prof-picture-homepage-flex {
        justify-content: center;
        align-items: center;
        flex-direction: row;
         }

         .read-more-projects{
            font-size: 30px;
            }
        

    .post-frontpage {
        display: flex;
        text-align: center;
        flex-direction: row;
        margin-left: 2px;
        margin-right: 2px;
        justify-content: space-between;
        width: 100%;
      }

      .post-frontpage :nth-child(2){
          margin: 20px 20px 0 20px;
      }

      .image-card-homepage{
          width: 0px;
          padding: 40px;
      } 

      /*Reiny days*/ 
.border-around-project-div{
width: 100%;
    height: 400px;
    text-align: center;
    border-top: none;
}

.project-flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1-about-background-img{
    
  
  
    text-align: center;
    width: 40%;
    height: 900px;
    }
    
    .flex{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    } 

    .flex-text-picture-about-page{
        display: flex;
        
    }

    .about-me-text-div{
    }

    .read-more-button-div{
    width: 100%;

        
    }
    .read-more-button{
        justify-content: center;
        width: 100%;
       height: 70px;
    }




}


/*Desktop big*/
@media (min-width: 1200px) {


    .images-projects{
        width: 500px;
        width: 1000px;
       
    }
    .images-projects-div{
       
        flex-direction: column;
        justify-content: space-between;
      
      margin-left: 5px;
      margin-right: 12px;
    }
    }
